# Ignore all files of type bin, GGML, GGUF, bin, and all other weight formats
*.[bB][iI][nN]
*.[gG][gG][mM][lL]
*.[gG][gG][uU][fF]
*.[wW][eE][iI][gG][hH][tT]

# python cache
**/__pycache__/

# discard Llama2 cpu binaries
llama-build/*

# ignore build files
build/
*.egg-info/

# everything else
*/lisa.py
*/sunday.py
*/tyrone.py
dev.ipynb
test.py