<!DOCTYPE html>
<html>
<head>
	<title>Chat Window</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <div id="vue-app">
        <div id="chat-window">
        </div>
        <div id="input-wrapper">
            <div class="chat-input-section">
                <input id="msg-input-field" type="text" placeholder="Type your message here...">
                <button @click="submit">Send</button>
            </div>
            <template id="settings-section">
                  <div class="settings-container">
                    <div class="setting-row">
                        <label for="maxNewTokens">Max. New Tokens</label>
                        <input type="number" id="maxNewTokens" v-model="settings.maxNewTokens" />
                    </div>
                    <div class="setting-row">
                        <label for="contextLength">Context Length</label>
                        <input type="number" id="contextLength" v-model="settings.contextLength" />
                    </div>
                  </div>
                  <div class="setting-row">
                    <label for="typeWriterMode">Typewriter Mode</label>
                    <input type="checkbox" id="typeWriterMode" v-model="settings.typeWriterMode" />
                  </div>
            </template>
        </div>
        
    </div>
	<script src="./script.js"></script>
</body>
</html>