html {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

#chat-window {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-y: scroll;
}

.green {
    background-color: rgb(109, 158, 188);
}

.gray {
    background-color: rgb(37, 40, 43);
}

.left {
    justify-content: left;
    
}

.message-box {
    
    top: 0;
    padding: 5px;
    /* margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; */
    color:white;
    max-width: 60%;
    min-width: 200px;
    height: auto;
    line-break: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10pt;
    /* position: absolute; */
}

.message-box-wrapper {
    width: 100%;
    /* display: flex; */
    display: inline-flex;
    /* flex-direction: row; */
    /* padding: 20px; */
    margin-top:20px;
    position: relative;
}

#msg-input-field {

}

.right {
    justify-content: flex-end;
}

.chat-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
}